apiVersion: spinnaker.io/v1alpha2
kind: SpinnakerService
metadata:
  name: spinnaker  # name doesn't matter since this is a patch
spec:
  # spec.spinnakerConfig - This section is how to specify configuration spinnaker
  spinnakerConfig:
    # spec.spinnakerConfig.profiles - This section contains the YAML of each service's profile
    profiles:
      deck:
        # settings-local.js - contents of ~/.hal/default/profiles/settings-local.js
        # Use the | YAML symbol to indicate a block-style multiline string
        settings-local.js: |
          window.spinnakerSettings.feature.kustomizeEnabled = true;
          window.spinnakerSettings.feature.artifactsRewrite = true;

      clouddriver: # is the contents of ~/.hal/default/profiles/clouddriver.yml
        serviceLimits:
          defaults:
            rateLimit: 10.0   # default max req/second

      echo: {}    # is the contents of ~/.hal/default/profiles/echo.yml

      fiat: {}    # is the contents of ~/.hal/default/profiles/fiat.yml

      front50: {} # is the contents of ~/.hal/default/profiles/front50.yml

      gate: {}    # is the contents of ~/.hal/default/profiles/gate.yml

      igor: {}    # is the contents of ~/.hal/default/profiles/igor.yml

      kayenta: {} # is the contents of ~/.hal/default/profiles/kayenta.yml

      orca: {}    # is the contents of ~/.hal/default/profiles/orca.yml

      rosco: {}   # is the contents of ~/.hal/default/profiles/rosco.yml

